:root {
  --color-gray-dark: #767676;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  /* background-color: ; */
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
